.price-img{
    height: 48px !important;
}
.price-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.price-header select{
    border: none !important;
    font-size: 18px;
}
[v-cloak] {
  display: none;
}
